In [11]:
import pandas as pd
excel_path = r'\\micfs01-svmb\SQRALib\engi\datalogs\emmc\AMBYX\PS8231\J39E\VM05719.ELFR0001\SN5122899_5_2\SN5122899_5_2_fail_data.xlsx'
excel_path = excel_path.replace('//micfs01-svmb/SQRALib/', 'U:/')

df = pd.read_excel(excel_path)

print(df.shape)
df.head()
for unit in df.position.unique():
    print(unit)
    print(df.loc[df['position']==unit, 'test_name'].unique())
    print(df.loc[df['position']==unit, 'block code description'].unique())
    fail_signature = df.loc[df['position']==unit, 'block code description'].unique()
    print(fail_signature)
#     print('block_no / LBA offsed: -> ',df.loc[df['position']==unit, 'block_no'].unique())
#     print('LBA or UM details -> ',df.loc[df['position']==unit, 'LBA or UM details'].unique())
#     print('bit/byte fail ->',df.loc[df['position']==unit, 'user_value_2'].unique())

(253, 14)
J6-S4
['abp85::cbemoltx8_H1PROJEC64ARES_64GB:1#']
['BLK_TAG_TIMEOUT = 18' 'BLK_TAG_RD_DATAFAIL = 19']
['BLK_TAG_TIMEOUT = 18' 'BLK_TAG_RD_DATAFAIL = 19']
K12-S4
['abp85::cbemcmd1:155#']
['-']
['-']
F6-S7
['abp85::cbemoltx8_writeOnlyH1PROJEC64ARES_64GB:77#']
['BLK_TAG_RD_CRC = 20']
['BLK_TAG_RD_CRC = 20']
D6-S7
['abp85::cbemoltx8_writeOnlyH1PROJEC64ARES_64GB:24#']
['BLK_TAG_RD_RSP = 17']
['BLK_TAG_RD_RSP = 17']
C6-S7
['abp85::cbemcmd1:155#']
['-']
['-']
I10-S7
['abp85::cbemoltx8_H1PROJEC64ARES_64GB:16#']
['BLK_TAG_RD_RSP = 17' 'BLK_TAG_TIMEOUT = 18' 'BLK_TAG_RD_DATAFAIL = 19']
['BLK_TAG_RD_RSP = 17' 'BLK_TAG_TIMEOUT = 18' 'BLK_TAG_RD_DATAFAIL = 19']
F10-S7
['abp85::cbemcmd2_fw:5#']
['-']
['-']
C10-S7
['abp85::cbemoltx8_writeOnlyH1PROJEC64ARES_64GB:37#']
['BLK_TAG_RD_CRC = 20']
['BLK_TAG_RD_CRC = 20']

In [12]:
df.drop_duplicates(inplace=True)
df.shape

(253, 14)

In [13]:
df.head()

,zone,site_no,test_pos,code_no,LBA or UM details,user_value_2,test_name,block_no,position,block code description,CMD,Unnamed: 11,Positions:,2
0,A5,62,352,18.0,71540001.0,0.0,abp85::cbemoltx8_H1PROJEC64ARES_64GB:1#,0.0,J6-S4,BLK_TAG_TIMEOUT = 18,23 0x00000008;\n18 0x0096A630;\n23 0x00000008;...,NaN,Total:,150
1,A5,62,352,19.0,71540001.0,0.0,abp85::cbemoltx8_H1PROJEC64ARES_64GB:1#,0.0,J6-S4,BLK_TAG_RD_DATAFAIL = 19,NaN,NaN,Good:,142
2,A5,62,352,19.0,71540001.0,0.0,abp85::cbemoltx8_H1PROJEC64ARES_64GB:1#,1.0,J6-S4,BLK_TAG_RD_DATAFAIL = 19,NaN,NaN,Fail:,8
3,A5,62,352,19.0,71540001.0,0.0,abp85::cbemoltx8_H1PROJEC64ARES_64GB:1#,2.0,J6-S4,BLK_TAG_RD_DATAFAIL = 19,NaN,NaN,NaN,NaN
4,A5,62,352,19.0,71540001.0,0.0,abp85::cbemoltx8_H1PROJEC64ARES_64GB:1#,3.0,J6-S4,BLK_TAG_RD_DATAFAIL = 19,NaN,NaN,Zone,Id

In [14]:
df.position.unique()

array(['J6-S4', 'K12-S4', 'F6-S7', 'D6-S7', 'C6-S7', 'I10-S7', 'F10-S7',
       'C10-S7'], dtype=object)

In [15]:
df['block code description'].unique()

array(['BLK_TAG_TIMEOUT = 18', 'BLK_TAG_RD_DATAFAIL = 19', '-',
       'BLK_TAG_RD_CRC = 20', 'BLK_TAG_RD_RSP = 17'], dtype=object)