In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"U:\users\forna\SAPPHIRE_PS8226_PHY_B16A_J38D_WAVE1_NVTLC0003_65_ALLBER.csv")

In [3]:
df.head()

,CASE,CYCLE,UNIT,BLK,PAGE,FAIL_BITS,READ_RETRY_INDEX,RR_STAGE,RER_RES
0,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P03:37,130,0,0,0,0,0
1,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P03:37,131,0,0,0,0,0
2,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P02:37,130,0,0,0,0,0
3,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P02:37,131,0,0,0,0,0
4,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P03:37,130,1,0,0,0,0

In [4]:
df.columns

Index(['CASE', ' CYCLE', ' UNIT', ' BLK', ' PAGE', ' FAIL_BITS',
       ' READ_RETRY_INDEX', ' RR_STAGE', ' RER_RES'],
      dtype='object')

In [7]:
df.drop([' READ_RETRY_INDEX', ' RR_STAGE', ' RER_RES'], axis=1, inplace=True)

In [8]:
df.head()

,CASE,CYCLE,UNIT,BLK,PAGE,FAIL_BITS
0,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P03:37,130,0,0
1,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P03:37,131,0,0
2,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P02:37,130,0,0
3,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P02:37,131,0,0
4,TLC_almost_full_10%_as_TLC_Partial,0,0119371:19:P03:37,130,1,0